*{
  background: blanchedalmond;
  box-sizing: border-box;
  font-family: Bahnschrift;

}
body{
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
}
table{
  box-shadow: 10px 15px 5px 5px rgba(139, 0, 139, 0.9);
  margin: 2em auto;
  border: 5px solid darkmagenta;
}
tr{
  margin: 0;
}
td{
  /*box-shadow: 3px 3px 3px 3px rgba(139, 0,  139, 0.5);*/
  background: rgba(139, 0, 139, 0.85);
  color: white;
  font-weight: bold;

  margin: 0;
  text-align: center;
  border: 2px solid black;
}
input{
  border: transparent;
  color: white;
  font-weight: bold;
  padding: .5em 2.5em;
  background: rgba(195,116,171,0.94);

}
#radio{
  background: rgba(195,116,171,0.94);

}
#checkbox{
  background: rgba(195,116,171,0.94);

}
#date{
  padding: 0 3.3em;
}
#date::-webkit-calendar-picker-indicator{
  filter: invert(0.9);
}
textarea{
  color: white;
  font-weight: bold;
  background: rgba(195,116,171,0.94);
  resize: none;
}
textarea::placeholder{
  color: white;
  font-weight: bold;
}
#reset{
  color: black;
  background: blanchedalmond;
  padding: .8em 3em;
}
#submit{
  color: black;
  background: blanchedalmond;

  padding: .8em 7em;
}
button{
  border-radius: 2px;
  box-shadow: 6px 10px 5px 5px rgba(196, 93, 166, 0.94);
  background: #d02be2;

}
a{

  background: #d02be2;
  color: white;
  font-weight: bold;
  font-size: 2em;
  text-decoration: none;
}
